/**
*  $Id: style002.css 14 2009-10-25 15:44:20Z yvolk $
*  yvComment solution
*  Style: "Blue shock"	
*/
div.yvComment {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
	/*	border: 1px solid #66CDAA;*/
}

div.yvComment div.Comments {
	clear: both;
}

div.yvComment div.CommentClr {
	height: 0px;
	clear: both;
}

div.yvComment .NumCommentsAlone {
	float: right;
	margin: 0 2px 2px 0;
}

div.yvComment .NumComments {
	float: left;
	width: 100%;
	border-top: 1px groove black;
}

div.yvComment .CommentMessage {
	border: 2px solid #FF4500;
	margin: 1px;
	padding: 3px 2px 3px 22px;
	background-image: url(../../../images/M_images/con_info.png);
	background-repeat: no-repeat;
	background-position: 6px;
}

div.yvComment .Comment {
	width: 100%;
	border-top: 1px groove black;
}

div.yvComment .Comment_even {
	width: 100%;
	border-top: 1px solid blue;
}

div.yvComment div.Comment .CommentHeader {
	background-color: #87CEFA;
	padding: 1px;
	height: 100%;
}

div.yvComment div.Comment_even .CommentHeader {
	background-color: Aqua;
	padding: 1px;
	height: 100%;
}

div.yvComment .Comment_unpublished {
	width: 100%;
	border-top: 1px groove black;
	background-color: #E1F1FF;
}

div.yvComment .Comment_unpublished_even {
	width: 100%;
	border-top: 1px solid blue;
	background-color: #E1F1FF;
}

div.yvComment div.Comment_unpublished .CommentHeader {
	background-color: #87CEFA;
	padding: 1px;
}

div.yvComment div.Comment_unpublished_even .CommentHeader {
	background-color: Aqua;
	padding: 1px;
}

div.yvComment .CommentTitle {
	float: left;
	font-weight: bolder;
}

div.yvComment a.CommentTitle {
	text-decoration: none;
	font-weight: bolder;
	color: Black;
}

div.yvComment .CommentControlBox {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

div.yvComment .CommentControlBox td {
	vertical-align: top;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.yvComment .CommentControlBox input {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

div.yvComment .CommentDateAndAuthor {
	float: right;
	text-align: right;
	width: 45%;
}

div.yvComment .CommentDate {
	text-align: right;
	float: right;
	width: 100%;
	padding-right: 3px;
}

div.yvComment .CommentAuthor {
	float: right;
	text-align: right;
	width: 100%;
	padding-right: 3px;
}

div.yvComment .CommentAuthorOpenID {
	background: url(openid-bg.png) no-repeat;
	background-position: 0% 0%;
	padding-left: 18px;
}

div.yvComment .CommentAuthorAlias {
	font-style: italic;
}

div.yvComment .CommentAuthorAlias:before {
	content: "(";
}

div.yvComment .CommentAuthorAlias:after {
	content: ")";
}

div.yvComment .CommentNum {
	font-weight: bolder;
}

div.yvComment .CommentNum:after {
	content: ". ";
}

div.yvComment .CommentFulltext {
	clear: both;
	text-align: left;
	padding: 5px;
}

div.yvComment .CommentParentArticle {
	margin-left: 20px;
	padding: 2px;
	background-color: #E8F2FE;
	margin-top: 0px;
	margin-bottom: 3px;
	text-align: left;
	float: left;
}

div.yvComment .CommentNumChildrenAlone {
	margin: 0 2px 2px 0;
	width: auto;
	float: right;
}

div.yvComment .CommentForm {
	width: 100%;
	float: left;
}

div.yvComment .CommentForm h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

div.yvComment .CommentForm td.CommentLeftColumn {
	text-align: right;
	width: 20%;
}

div.yvComment .CommentForm input[type="submit"] {
	margin-top: 1em;
}

div.yvComment div.CommentOwnersReply {
	margin: 1px 0px 0px 20px;
	padding: 1px 1px 1px 1px;
	border-left-color: #B5C4DF;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentReply {
	margin: 1px 0px 0px 20px;
	padding: 1px 1px 1px 1px;
	border-left-color: #75849F;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentReplyLevel3 {
	margin: 1px 0px 0px 15px;
	padding: 1px 1px 1px 1px;
	border-left-color: #75A49F;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentReplyLevel4 {
	margin: 1px 0px 0px 11px;
	padding: 1px 1px 1px 1px;
	border-left-color: #75C49F;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentReplyLevel5 {
	margin: 1px 0px 0px 8px;
	padding: 1px 1px 1px 1px;
	border-left-color: #75E49F;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentReplyLevel6 {
	margin: 1px 0px 0px 6px;
	padding: 1px 1px 1px 1px;
	border-left-color: #75FF9F;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentReplyLevel7 {
	margin: 1px 0px 0px 5px;
	padding: 1px 1px 1px 1px;
	border-left-color: #95FF9F;
	border-left-style: solid;
	border-left-width: 4px;
}

div.yvComment div.CommentPoweredBy {
	float: right;
	font-size: 60%;
}

/* Begin For compatibility with beez template */
.leading div.yvComment {
	display: inline;
}

#all div.yvComment .CommentControlBox form {
	background: inherit;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
/* End For compatibility with beez template */